// Use abstracts
@use '@styles/abstracts/variables' as *;

.photographer-medias {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
  padding-block: 4rem;

  @media (max-width: $screen-lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $screen-sm) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.photographer-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.photographer-media__media-wrapper {
  aspect-ratio: 1 / 1;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow;
  position: relative;
  outline: none;
  cursor: pointer;
}

.photographer-media__media-wrapper::after {
  content: '';
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  outline: 0.2rem solid rgba($color-red, 0.25);
  background-color: lighten($color-red, 10%);
  opacity: 0;
  transition: $transition;
  transition-property: opacity;
}

.photographer-media__media-wrapper:focus-visible::after {
  opacity: 1;
}

.photographer-media__media-wrapper:hover .photographer-media__image {
  transform: scale(1.1);
}

.photographer-media__media-wrapper:has(> .photographer-media__video)::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/assets/svgs/player-white.svg') no-repeat center/8rem;
}

.photographer-media__image,
.photographer-media__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: $transition;
  transition-property: transform;
}

.photographer-media__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.photographer-media__title {
  font-size: 1.25rem;
  font-weight: 400;
  color: $color-red;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photographer-media__likes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.photographer-media__likes-count {
  font-size: 1.25rem;
  color: $color-red;
}

.photographer-media__likes-button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.photographer-media__likes-button:is(:hover, :focus-visible) .photographer-media__likes-icon {
  opacity: 0.75;
}

.photographer-media__likes-icon {
  min-width: 1.5rem;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
  transition: $transition;
  transition-property: opacity;
}

.photographer-media__likes-button[data-state='liked'] .photographer-media__likes-icon {
  opacity: 1;
  filter: brightness(1.5);
  animation: likes 150ms ease-in-out;
}
