// Forward components for photographer medias
@forward '@styles/components/filter-medias';
@forward '@styles/components/medias-grid';

.photographer-medias {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 4rem;
}
