// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #525252;
$color-gray-light: #fafafa;
$color-gray-dark: #312e2e;
$color-red: #901c1c;
$color-coral: #db8876;

// Typography
$font-sans: 'DM Sans', sans-serif;

// Breakpoints
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// Border radius
$border-radius: 0.5rem;

// Transition
$transition: 150ms ease-in-out;
